<a href="https://colab.research.google.com/github/njneubauer/code_hearted/blob/main/simple_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
# from sklearn.datasets import make_regression
# from sklearn.linear_model import LinearRegression

In [ ]:
# Read the csv file into a pandas DataFrame
heart_data = pd.read_csv('/content/heart_failure_clinical_records_dataset.csv')
heart_data.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

In [ ]:
# Assign X (data) and y (target)
X = heart_data.drop("DEATH_EVENT", axis=1)
y = heart_data["DEATH_EVENT"]
print(X.shape, y.shape)

(299, 12) (299,)

In [ ]:
# Spliting data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Creating a logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# Fit (train) or model using the training data
classifier.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# Validate the model using the test data
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7991071428571429
Testing Data Score: 0.8666666666666667

In [ ]:
# Make predictions
predictions = classifier.predict_proba(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [[0.65493832 0.34506168]
 [0.99750383 0.00249617]
 [0.34057305 0.65942695]
 [0.64873113 0.35126887]
 [0.90113541 0.09886459]
 [0.83371746 0.16628254]
 [0.92816918 0.07183082]
 [0.4673082  0.5326918 ]
 [0.33850132 0.66149868]
 [0.98885559 0.01114441]]
First 10 Actual labels: [0, 0, 1, 0, 0, 0, 0, 0, 1, 0]

In [ ]:
exl1 = [p[0] for p in predictions]
l2 = [p[1] for p in predictions]
predict_df = pd.DataFrame({"Prediction_0": l1, 'Prediction_1': l2, "Actual": y_test})
predict_df

     Prediction_0  Prediction_1  Actual
173      0.654938      0.345062       0
287      0.997504      0.002496       0
51       0.340573      0.659427       1
146      0.648731      0.351269       0
214      0.901135      0.098865       0
..            ...           ...     ...
91       0.668686      0.331314       0
291      0.952064      0.047936       0
42       0.270701      0.729299       1
187      0.773394      0.226606       1
242      0.967700      0.032300       0

[75 rows x 3 columns]